.header {
  padding: 27px 0 45px;
}
.header__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr 7fr 4fr;
  gap: 29px;
  place-content: center space-between;
}

.header__logo-link {
  align-self: center;
  padding-top: 22px;
}

.header__menu-btn {
  width: 151px;
  height: 55px;
  align-self: center;
  justify-self: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  transition: opacity 0.2s ease-in-out;
}

.header__menu-btn-img {
  transform: translateY(6px);
}

.header__menu-btn:hover {
  opacity: 0.5;
}

.header__search-form {
  margin-right: 17px;
  position: relative;
  width: 100%;
  height: 54px;
}

.header__search-form-input {
  padding: 15px 40px 15px;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  color: var(--quaternary-color);
  background-color: var(--form-bg-color);
  border: none;
  border-radius: 30px;
  outline: none;
}

.header__search-form-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 101px;
  height: 100%;
  border-radius: 30px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  transition: opacity 0.2s ease-in-out;
}

.header__search-form-btn:hover {
  opacity: 0.5;
}

.header__nav-list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  gap: 70px;
}

.header__nav-item {
  position: relative;
}

.header__nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 4px;
  color: var(--tertiary-color);
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;
}

.header__nav-link:hover {
  opacity: 0.5;
}

.header__nav-link:active {
  box-shadow: 0 0 2px 2px var(--secondary-color);
}

.header__nav-item-title {
  font-weight: 700;
  font-size: 12px;
}

.header__nav-item-cart-counter[data-count] {
  position: absolute;
  top: -2px;
  right: 8px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
}

.header__nav-item-cart-counter[data-count]::before {
  content: attr(data-count) " ";
}

@media (max-width: 1024px) {
  .header {
    padding: 34px 0 30px;
  }
  .header__wrapper {
    grid-template-columns: 3fr 9fr;
    gap: 33px;
  }
  .header__logo-link {
    padding-top: 16px;
  }
  .header__menu-btn {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: start;
  }
  .header__search-form {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: end;
    margin: 0;
    /* width: 700px; */
  }
  .header__nav-list {
    justify-content: flex-end;
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 25px 0 21px;
  }

  .header__wrapper {
    grid-template-columns: 2fr 7fr;
    gap: 26px 0;
    place-content: center space-between;
  }

  .header__logo-link {
    padding-top: 7px;
  }

  .header__logo-link-image {
    width: 165px;
    height: 35px;
  }

  .header__menu-btn {
    padding-bottom: 5px;
    width: 115px;
    height: 42px;
    font-size: 16px;
    border-radius: 6px;
  }

  .header__menu-btn-img {
    transform: translateY(5px);
  }

  .header__search-form {
    height: 42px;
  }

  .header__search-form-input {
    padding: 11px 24px 15px;
    font-size: 12px;
  }

  .header__search-form-btn {
    width: 88px;
  }

  .header__search-form-btn-img {
    width: 30px;
    height: 30px;
  }

  .header__nav-list {
    gap: 30px;
  }

  .header__nav-link {
    gap: 0px;
  }

  .header__nav-item-img {
    width: 30px;
    height: 30px;
  }

  .header__nav-item-cart-counter[data-count] {
    position: absolute;
    top: 0;
    right: 8px;
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 320px) {
  .header {
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .header__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 30px);
    gap: 20px;
  }
  .header__logo-link {
    padding-top: 14px;
  }
  .header__logo-link-image {
    width: 114px;
    height: 25px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .header__menu-btn {
    padding-bottom: 1px;
    width: 79px;
    height: 30px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 12px;
    line-height: 150%;
    border-radius: 4px;
  }
  .header__menu-btn-img {
    width: 14px;
    height: 14px;
    transform: translateY(3px);
  }
  .header__search-form {
    width: 100%;
    height: 30px;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    place-content: center;
  }
  .header__search-form-input {
    padding: 9px 16px 11px;
    font-size: 8px;
  }
  .header__search-form-btn {
    padding: 5px 17px 8px 15px;
    width: 50px;
  }
  .header__search-form-btn-img {
    width: 19px;
    height: 19px;
  }
  .header__nav-list {
    grid-row: 2 / 3;
    gap: 25px;
  }
  .header__nav-item-title {
    display: none;
  }
  .header__nav-item-cart-counter[data-count] {
    right: 1px;
  }
}
